* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: snow;
}
div.container::before {
    display: block;
    content: '';
    height: 40px;
}

/* styling for navbar and nav-logo */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: #09161C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 40px;
    color: snow;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.nav {
    border: none;
}

.nav button {
    display: inline-block;
    font-size: 25px;
    color: snow;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-radius: 6px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.nav button:hover {
    color: cyan;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan,  0 0 50px cyan, 0 0 100px cyan, 0 0 150px cyan;
}

/* styling for home section */
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 96vh;
    background-image: url(./images/Background.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    opacity: 0;
    animation: slideBottom .8s ease forwards;
    animation-delay: .05s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 25px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: cyan;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight .9s ease forwards;
    animation-delay: .05s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .05s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 50%;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
    opacity: 0;
    transition: .5s ease;
    animation: slideLeft .8s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background-color: cyan;
    color: #03000D;
    box-shadow: 0 0 20px cyan;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: cyan;
    border-radius: 40px;
    font-size: 16px;
    color:#03000D;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan,  0 0 50px cyan, 0 0 100px cyan, 0 0 150px cyan;
}

/* styling for about section */
.about {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 96vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.about-content {
    max-width: 1200px;
}

.about-content h4 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    opacity: 0;
    animation: slideBottom .8s ease forwards;
    animation-delay: .05s;
}

.about-content h2 span {
    color: cyan;
}

.about-content h2 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight .9s ease forwards;
    animation-delay: .05s;
}

.about-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .05s;
}

.about-img img {
    display: flex;
    align-content: flex-end;
}

/* styling for skills section */
.skills {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 96vh;
    background-image: url(./images/background1.0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.skills-content {
    max-width: 1200px;
    padding-left: 35%;
}

.skills-content h2 span {
    color: cyan;
}

.skills-content h2 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight .9s ease forwards;
    animation-delay: .05s;
}

.accordion {
    width: 800px;
}

.accordion-button {
    font-size: 27px;
    font-weight: 700;
    color: snow;
    background-color:#09161C;
    border-color: cyan;
}

.accordion-button:focus {
    color: #09161C;
    background: cyan;
}

.accordion-button span {
    color: cyan;
}

.accordion-button:focus span {
    color: #E8008D;
}

.accordion-item {
    color: snow;
    background:#09161C;
}

.skills-content h6, .skills-content p, .skills-content ul {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .05s;
}

/* styling for projects section */
.projects {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 96vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.projects-content {
    max-width: 100%;
}

.projects-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    opacity: 0;
    animation: slideBottom .8s ease forwards;
    animation-delay: .05s;
}

.projects-content h3:nth-of-type(2) {
    margin-bottom: 25px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.projects-content h2 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight .9s ease forwards;
    animation-delay: .05s;
}

.projects-content h2 span {
    color: cyan;
}

.projects-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .05s;
}

/* styling for contact section */
.contact {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 96vh;
    background-image: url(./images/plain-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.contact-content {
    max-width: 100%;
}

.contact-content h2 span {
    color: cyan;
}

.contact-content h2 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight .9s ease forwards;
    animation-delay: .05s;
}

.contact-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .05s;
}

div.card h5 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.contact-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 50px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 25px;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
    opacity: 0;
    transition: .5s ease;
    animation: slideLeft .8s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-sci a:hover {
    background-color: cyan;
    color: #03000D;
    box-shadow: 0 0 20px cyan;
}

/* Styling for footer */
footer {
    display: inline-flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 4vh;
    padding: 10px 30px 0 0;
    background-color:#09161C;
}

/* Animation styling */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
