---
layout: layouts/base.njk
eleventyNavigation:
  key: About
  order: 3
---

<div id="about" class="about">
    <div class="about-content">
        <h2>About<span>Me</span></h2>
        <h4>Front-End Developer</h4>
        <p class="descrip">Born in Leeds(UK), 1994.<br><br>Joined the British Army in 2010 at 16 years old where I trained as a mechanic on heavy plant machinary aswell as gaining various combat skills, been able to work together as
            a team and to think out of the box. I also got to travel alot of the world during my service period which is something I really enjoy doing as when my service finished in 2016 I spent 6 months
            traveling throughout Asia in countrys such as Thailand, Vietnam and the Philipines.<br>On my return to the UK at the end of 2016 I re-traded into the metal work industry as my father owned his own 
            fabrication company where I spent 7 years making bespoke furiture, sculpures, artwork and structures aswell as devolope products and design specifications.<br><br>This brings me to 2023 where I am highly motivated and determined
            to become a web developer(full-stack) and enter into the world of tech...<br><br> I have always been facinated with technology and what we as a civilisation can achieve with such applications therefore on my departure of my previouse 
            role I had decided to re-trade to follow a path I believe is right for me.<br><br> Since July I have been stydying front-end development using:<br>
        </p>    
        <ul>
            <li><a href="https://www.w3schools.com/" target="_blank">w3 schools</a></li>
            <li><a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a></li>
            <li><a href="https://www.udemy.com/" target="_blank">Udemy</a></li>
            <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
            <li><a href="https://www.google.co.uk/" target="_blank">Google</a></li>
            <li>and other platforms...</li>
        </ul>
        <p>In October I started a bootcamp with The Coders Guild to help push closer towards working in the tech industry.
        </p>
    </div>
</div>
<div id="skills" class="skills">
    <div class="skills-content">
        <div class="accordion bg-dark text-light" id="accordionExample">
            <div class="accordion-item">
                <h6 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Technical<span>Skills</span>:</button>
                </h6>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="skills-content">
                            <li>HTML & semantic HTML(Hyper Text Markup Language)</li>
                            <li>CSS(Casscading Style Sheets)</li>
                            <li>Psuedocode</li>
                            <li>JavaScript(EcmaScript) using functions, loops, arrays, objects, ..., aswell as making HTML documents responsive</li>
                            <li>Bootstrap CDN's and frameworks</li>
                            <li>GIT</li>
                            <li>Source controle using GIT commands</li>
                            <li>GIThub workflows</li>
                            <li>Netlify</li>
                            <li>SSG(Static Site Generators) e.g- 11ty</li>
                            <li>Visual Studio code(VS code)</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h6 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Personal<span>Skills</span>:</button>
                </h6>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Strong desire to learn new skills including other coding languages, different ways to complete tasks and problems to become a better developer and succeed</li>
                            <li>Push myself to learn in my own time to gain more skills</li>
                            <li>Able to work in a team and solo</li>
                            <li>Good problem solver and don't give up when something is difficult</li>
                            <li>Good self managment and time keeping</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h6 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">..<span>.</span>:</button>
                </h6>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p>...</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <a href="./Ashley_Jackson_CV.pdf" download="./Ashley_Jackson_CV.pdf" class="btn-box" style="color:#03000D">Download CV</a>
    </div>
</div>