---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 2
---
<div class="blog">
    <div class="blog-content">
        <h2><span>My</span>Blog</h2>
        <p>(latest at top)
            {% set postslist = collections.posts %}
            {% include "postslist.njk" %}
        </p>
    </div>
</div>

